@model StaffPortal.Entities.Leave
@{
    ViewData["Title"] = "Leave";
}
<!-- ============================================================== -->
<script type="text/javascript">function CheckReason(val) {
        var element = document.getElementById('reason');
    if (val == 'Choose Option' || val == 'others')
            element.style.display = 'block';
        else
            element.style.display = 'none';
    }</script>


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Leave</h3>
    </div>
    <!--   <div class="col-md-7 align-self-center">
         <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
      </div>-->
</div>


<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="white-box">
            <h3>Leave</h3>
            <div class="table-responsive">
                <form asp-action="Create" method="post" class="mt-4">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group mb-4">
                        <label for="exampleFormControlSelect1">Employee</label>
                        <select class="form-control" id="exampleFormControlSelect1" asp-for="UserProfileId" asp-items="@ViewBag.user">
                            <optionhidden disabled selected>Choose Option</optionhidden>
                        </select>
                    </div><br />
                    <div class="form-group">
                        <label asp-for="StartDate"> From: </label>
                        <input type="date" asp-for="StartDate" id="datepicker1" class="form-control" required="">
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate"> To: </label>
                        <input type="date" asp-for="EndDate" id="end" class="form-control" required="">
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Reason">Reason</label>

                        
                            <select class="form-control" asp-for="Reason" name="reason" onchange='CheckReason(this.value);'>
                                <option hidden disabled selected>Choose Option</option>
                                
                                <option value="Health">Health</option>
                                <option value="Maternity">Maternity</option>
                                <option value="others">others</option>

                            </select>
                            <input type="text" asp-for="Reason" name="reason" id="reason" style='display:none;' />
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-success mr-2">Submit</button>
                        <a asp-action="Cancel" type="button" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>



<script>//var dateToday = new Date();
    //$(function () {
    //    $("#datepicker1").datepicker({
    //        changeMonth: true,
    //        changeYear: true,
    //        dateFormat: 'dd-mm-yy',
    //        minDate: dateToday,
    //        onClose: function (selected) {
    //            if (selected.length <= 0) {

    //                $("#end").datepicker('disable');
    //            } else {
    //                $("#end").datepicker('enable');
    //            }
    //            $("#end").datepicker("option", "minDate", selected);
    //        }
    //    });
    //    $("#end").datepicker({
    //        changeMonth: true,
    //        changeYear: true,
    //        dateFormat: 'dd-mm-yy',

    //        onClose: function (selected) {
    //            if (selected.length <= 0) {

    //                $("#datepicker1").datepicker('disable');
    //            } else {
    //                $("#datepicker1").datepicker('enable');
    //            }
    //            $("#datepicker1").datepicker("option", "maxDate", selected);
    //        }
    //    });
    //});</script>